@page "/fooditems"
@using Macronutrients.Data
@using Macronutrients.Models
@using Macronutrients.Components
@using Microsoft.AspNetCore.Components.Forms
@using System.Runtime.InteropServices.JavaScript
@using System.ComponentModel.DataAnnotations

<PageTitle>Food Items</PageTitle>

<section id="FoodItemsPage">    
    <section id="FoodItemsPage-Header">Header</section>
    <section id="FoodItemsPage-Body">
        <div id="AllFoodsList">
            All Foods<br />
            @if (foods != null && foods.Count != 0)
            {
                @foreach (var food in foods)
                {
                    <div class="FoodItem" onclick="@(() => EditFoodClick(food))">                        
                        <span class="FoodName">@food.Name</span><br/>
                        <label>Protein:</label> <span>@food.Protein g</span><br />
                        <label>Carbs:</label> <span>@food.Carbs g</span><br />
                        <label>Fats:</label> <span>@food.Fats g</span><br />
                    </div>
                }
            }
            else
            {
                <p>No Food Data exists.</p>
            }
        </div>
        <div id="ShowMacronutrients">Macronutrients</div>
        <div id="AddFoodForm">
            Food Form<br/>
            <EditForm id="EditFoodModal" Model="@newFood" OnValidSubmit="@HandleNewFood">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <label>Name</label> <InputText @bind-Value="@newFood.Name" /><br />
                <label>Protein</label> <InputNumber @bind-Value="@newFood.Protein" /><br />
                <label>Carbs</label> <InputNumber @bind-Value="@newFood.Carbs"/><br />
                <label>Fats</label> <InputNumber @bind-Value="@newFood.Fats" /><br />
                <br />
                <button type="submit">Submit</button>
                <button type="button" @onclick="ResetFoodForm">Reset</button>
            </EditForm>
        </div>
    </section>
    <section id="FoodItemsPage-Footer">Footer</section>
</section>

@code {
    private Food newFood { get; set; } = new Food(); 

    private List<Food> foods = FoodDataService.GetAllFoods(); 

    private void HandleNewFood()
    {
        newFood.Name = newFood.Name.Trim();
        var result = FoodDataService.CreateNewFood(newFood);
        if (result) foods = FoodDataService.GetAllFoods();
        newFood = new Food();
    }

    private void EditFoodClick(Food food)
    {
        newFood = food;
        StateHasChanged();
    }

    private void ResetFoodForm()
    {
        newFood = new Food();
    }
}

@*onclick="@(() => NutrientClick(food.Name))"*@